body
{
    margin : 0 auto;
}
.material-icons 
{
    font-family: 'Material Icons';
    font-size: 24px; /* Preferred icon size*/
    color: white;
}
p
{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #6B6D73;
    line-height: 30px;
}
h1
{
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-align: center;
    color : white;
    font-size: 3.4rem;
    margin: 0px;
}
.title
{
    padding: 4rem;
}
h2
{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color : #2E2E2E;
    font-size: 2.2rem;
}
h3
{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color : #2E2E2E;
    font-size: 1.5rem;
}
ul
{
    list-style: none;
    padding: 0px;
}
li
{
    padding : 1rem;
}
header a, header p
{
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: white;
    text-align: center;
}
.cube a
{
    text-decoration : none;
}
header
{
    background-image: linear-gradient(#1C4689, #103167);
}
#logo
{
    width : 80px;
    height : 50px;
    background-image: url(media/logo-expox.png);
    background-repeat: no-repeat;
    background-position: center;
    padding : 1rem; 
}
.cercle
{
    border-radius:50%;
    width:3.75rem;
    height:3.75rem;
    border:none;
    box-shadow: 1px 1px 10px #707070;
}
.cercle-orange
{
    
    border-radius:50%;
    width:3.75rem;
    height:3.75rem;
    border:none;
    background-image: url(media/icon-7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color : #FF8400;
    
}
#icon-rocket
{
    background-image: url(media/icon-9.png);
    background-repeat: no-repeat;
    background-position: center; 
}
#idea1
{
    background-image: url(media/icon-11.png);
    background-repeat: no-repeat;
    background-position: center; 
}
#idea2
{
    background-image: url(media/icon-5.png);
    background-repeat: no-repeat;
    background-position: center; 
}
#loupe1
{
    background-image: url(media/icon-1.png);
    background-repeat: no-repeat;
    background-position: center; 
}
#megaphone
{
    background-image: url(media/icon-3.png);
    background-repeat: no-repeat;
    background-position: center; 
}
.what-we-do
{
    text-align: center;
    width : 50%;
    margin: auto;
}
.flex-cube
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:85%;
    margin : auto;
}
.cube
{
    width : 23.75rem;
    height : 21.87rem;
    box-sizing: border-box;
    padding : 2rem;
    border:none;
}
.alignement
    {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
    }
@media screen and (min-width:1140px)
{
    

}
@media screen and (min-width:415px) and (max-width:1140px)
{

}
@media screen and (min-width:320px) and (max-width:414px)
{

}