body
{
    margin : 0 auto;
}
.material-icons 
{
    font-family: 'Material Icons';
    font-size: 24px; /* Preferred icon size*/
    color: white;
}
p
{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #6B6D73;
    line-height: 30px;
}
h1
{
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-align: center;
    color : white;
    font-size: 3.4rem;
    margin: 0px;
}
.title
{
    padding: 4rem;
}
h2
{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color : #2E2E2E;
    font-size: 2.2rem;
}
h3
{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color : #2E2E2E;
    font-size: 1.5rem;
}
ul
{
    list-style: none;
    padding: 0px;
}
li
{
    padding : 1rem;
}
.cube a
{
    text-decoration : none;
    color : #FF8400;
}
.material
{
    font-family: 'Material Icons';
    font-size: 2rem ;
    padding : 1rem;
}
header a, header p
{
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: white;
    text-align: center;
}
header a:hover
{
    color : #FF8400;  
}

header
{
    background-image: linear-gradient(50deg, rgba(28,70,137,1) 0%, rgba(22,60,120,1) 63%, rgba(16,49,103,1) 100%);
}

#logo
{
    width : 80px;
    height : 50px;
    background-image: url(media/logo-expox.png);
    background-repeat: no-repeat;
    background-position: center;
    padding : 1rem; 
}
.cercle
{
    border-radius:50%;
    width:3.75rem;
    height:3.75rem;
    border:none;
    box-shadow: 1px 1px 10px #707070;
}
.cercle-orange
{
    
    border-radius:50%;
    width:3.75rem;
    height:3.75rem;
    border:none;
    background-image: url(media/icon-7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color : #FF8400;
    
}
#icon-rocket
{
    background-image: url(media/icon-9.png);
    background-repeat: no-repeat;
    background-position: center; 
}
#idea1
{
    background-image: url(media/icon-11.png);
    background-repeat: no-repeat;
    background-position: center; 
}
#idea2
{
    background-image: url(media/icon-5.png);
    background-repeat: no-repeat;
    background-position: center; 
}
#loupe1
{
    background-image: url(media/icon-1.png);
    background-repeat: no-repeat;
    background-position: center; 
}
#megaphone
{
    background-image: url(media/icon-3.png);
    background-repeat: no-repeat;
    background-position: center; 
}
.what-we-do
{
    text-align: center;
    width : 50%;
    margin: 3rem auto;
}
.flex-cube
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin :3rem auto;
}
.cube
{
    width : 23rem;
    height : 21rem;
    box-sizing: border-box;
    padding : 2rem;
    border:none;
    margin: 1rem;
}
#cube-shadow
{
    box-shadow: 1px 1px 15px #707070;
    border-radius: 10px;
}
.alignement
    {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
    }
@media screen and (min-width:826px)
{
    #container
    {
        max-width: 1400px;
        margin: auto;
    }
    .flex-cube
    {
        max-width: 1280px; 
    } 
    .appear
    {
        display: none;
    }
}
@media screen and (min-width:600px) and (max-width:825px)
{
    #container
    {
        max-width: 825px;
        margin: auto;
    }
    .disapear
    {
        display: none;
    }
        .flex-cube
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin :1rem auto;
    }
    .cube
    {
        width : 23rem;
        height : 21rem;
        box-sizing: border-box;
        padding : 2rem;
        border:none;
        margin: 0,5rem;
    }

    
   
}
@media screen and (min-width:320px) and (max-width:599px)
{
    #container
    {
        max-width: 599px;
        margin : auto;
    }
    .disapear
    {
        display: none;
    }
        .flex-cube
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        margin :3rem auto;
    }
        .cube
    {
        width : 23rem;
        height : 21rem;
        box-sizing: border-box;
        padding : 2rem;
        border:none;
        margin: 1rem;
        max-width: 95%;
    }
    
}